apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
data:
  mongo-uri: bW9uZ29kYjovL2FkbWluOnBhc3N3b3JkMTIzQG1vbmdvLXNlcnZpY2U6MjcwMTcvdG9kb3M/YXV0aFNvdXJjZT1hZG1pbg==
  jwt-secret: aGVlbG8=



